<p-button 
class="button-show"
(click)="uploadFileVisible = !uploadFileVisible"
 [label]="uploadFileVisible ? 'Hide File Upload':'Show File Upload'">
</p-button>
<div *ngIf="uploadFileVisible">    
    <app-file-upload (uploadComplete)="onUploadComplete()"></app-file-upload>
</div>
<p-table
  [value]="filesList" 
  (onPage)="onPageChange($event)"  
  [resizableColumns]="true"  
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      Uploaded Files
      <p-button icon="pi pi-refresh" />
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr >
      <th class="th-name" pResizableColumn>Name</th>
      <th class="th-size" pResizableColumn>Size</th>
      <th class="th-status" pResizableColumn>Status</th>
      <th class="th-download" pResizableColumn>Download Link</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-file>
    <tr [ngStyle]="{'height':'80px'}">
      <td>{{ file.new_name || file.original_name }}</td>
      <td><span [readableFileSize]="file.size"></span></td>
      <td>
        <p-tag [value]="file.status" [severity]="getSeverity(file.status)" />
      </td>
      <td><a *ngIf="file.status === 'compressed'" [href]="getDownloadLink(file)">Download</a></td>
    </tr>
  </ng-template>
  
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      In total there are {{ total }} files
    </div>
    <div class="card flex justify-content-center">
        <p-paginator 
            (onPageChange)="onPageChange($event)" 
            [first]="0" 
            [rows]="perPage" 
            [totalRecords]="total" 
            />
    </div>
  </ng-template>  
</p-table>
