<div class="p-d-flex p-jc-center p-ai-center p-mt-5 form-signup">
    <div class="p-card p-shadow-4 p-p-4">
      <h2 class="p-text-center">Sign Up</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="p-field">
          <label for="username">Username</label>
          <input id="username" pInputText formControlName="username"/>
          <div *ngIf="username && username.invalid && (username.dirty || username.touched)" class="p-error">
            <div *ngIf="username.errors && username.errors['required']">Username is required</div>
            <div *ngIf="username.errors && username.errors['pattern']">Username can contain only letters, digits, _, - and a maximum of 50 characters.</div>
          </div>
        </div>
  
        <div class="p-field">
          <label for="password">Password</label>
          <p-password id="password" [toggleMask]="true" formControlName="password" [feedback]="false"/>
          <div *ngIf="password && password.invalid && (password.dirty || password.touched)" class="p-error">
            <div *ngIf="password.errors && password.errors['required']">Password is required</div>
            <div *ngIf="password.errors && password.errors['pattern']">Password can contain a maximum of 50 characters, any but spaces.</div>
            <div *ngIf="password.errors && password.errors['minlength']">Password must contain at least 6 characters.</div>
          </div>
        </div>

        <div class="p-field">
          <label for="passwordConfirm">Confirm password</label>
          <p-password id="passwordConfirm" [toggleMask]="true" formControlName="passwordConfirm" [feedback]="false"/>
          <div *ngIf="passwordConfirm && passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)" class="p-error">
            <div *ngIf="passwordConfirm.errors && passwordConfirm.errors['required']">Password is required</div>
            <div *ngIf="passwordConfirm.errors && passwordConfirm.errors['pattern']">Password can contain a maximum of 50 characters, any but spaces.</div>
            <div *ngIf="passwordConfirm.errors && passwordConfirm.errors['minlength']">Password must contain at least 6 characters.</div>                    
          </div>
          <div *ngIf="passwordConfirm && !passwordConfirm.invalid && signupForm.errors && signupForm.errors['passwordMismatch']" class="p-error">Passwords do not match</div>  
        </div>
       

        <div class="p-field">
            <label for="email">Email</label>
            <input id="email" pInputText formControlName="email" />
            <div *ngIf="email && email.invalid && (email.dirty || email.touched)" class="p-error">
              <div *ngIf="email.errors && email.errors['required']">Email is required</div>
              <div *ngIf="email.errors && email.errors['email']">Invalid email</div>
            </div>
        </div>        
        <div>
          <button pButton type="submit" label="Sign Up" [icon]="isLoading ? 'pi pi-spinner' : 'pi pi-user-plus'" class="p-button-rounded p-button-primary" [disabled]="signupForm.invalid"></button>
        </div> 
      </form>
      <span class="p-error">{{errorMessage}}</span>
      <div class="login-link">You already have a user? <span [routerLink]="LOGIN_ROUTE">Login</span></div>
    </div>
  </div>
  
