.container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .p-menubar {
    margin-bottom: 1rem;
    padding:1rem;
    border:none;
  } 
 
  .p-card {
    border-radius: 8px;
  }  

  p-footer {
    height: 50px;   
    color:#CCC;
    display: flex;
    justify-content: center; 
  }

  .flex-grow {
    flex: 1;
  }
  
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

