<div class="p-d-flex p-jc-center p-ai-center p-mt-5 form-login">
    <div class="p-card p-shadow-4 p-p-4">
      <h2 class="p-text-center">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="p-field">
          <label for="username">Username</label>
          <input id="username" pInputText formControlName="username"/>
          <div *ngIf="username && username.invalid && (username.dirty || username.touched)" class="p-error">
            <div *ngIf="username.errors && username.errors['required']">Username is required</div>
          </div>
        </div>
  
        <div class="p-field">
          <label for="password">Password</label>
          <input id="password" pInputText type="password" formControlName="password" />
          <div *ngIf="password && password.invalid && (password.dirty || password.touched)" class="p-error">
            <div *ngIf="password.errors && password.errors['required']">Password is required</div>
          </div>
        </div>
        
        
        <div>        
        <button pButton type="submit" label="Login" icon="pi pi-sign-in" class="p-button-rounded p-button-primary" [disabled]="loginForm.invalid"></button>
      </div>

      </form>
      <span class="p-error">{{errorMessage}}</span>
      <div class="signup-link">You don't have a user? <span [routerLink]="'/signup'">Signup</span></div>
    </div>
  </div>
  